[submodule "3-hexo-forked"]
	path = themes/3-hexo-forked
	url = https://github.com/bimscwit/3-hexo-forked

[submodule "centos_handbook"]
	path = centos_handbook
	url = git@gitlab.com:bimaguava/centos_handbook.git
