[submodule "3-hexo-forked"]
	path = themes/3-hexo-forked
	url = https://github.com/bimscwit/3-hexo-forked

[submodule "centos_handbook"]
	path = centos_handbook
	url = git@gitlab.com:bimaguava/centos_handbook.git
[submodule "source/space/Import/use_gitbook_for_documentation"]
	path = source/space/Import/use_gitbook_for_documentation
	url = https://gitlab.com/bimaguava/use_gitbook_for_documentation.git

[submodule "source/space/Import/pengenalan_ffrouting"]
	path = source/space/Import/pengenalan_ffrouting
	url = https://gitlab.com/bimaguava/pengenalan_ffrouting
